@import 'colors.css';

html {
	margin: 0px;
	/*background-color: var(--backGray);*/
	/*background-image: url('images/white-vines.jpg');*/
	background-image: url('images/blue-crumps.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	margin: 0px;
}

div.container {
	width: 100%;
}

logo h1 {
	float: left;
	margin: 0px;
	color: var(--footerFontColor);
}

.img_floatright {
	float: right;
	margin: 0 0 5px 10px;
	border-radius: 50%;
}

article {
	margin-left: 8px;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	padding: 1em;
	overflow: hidden;
	background-color: var(--bodyBackColor);
	border-radius: 30% 30% 30% 30% / 12px 12px 12px 12px;
	box-shadow: 10px 10px 5px #888888;
}
