@import 'shared.css';

html {
	margin: 0px;
	height: 100%;
}

body {
	margin: 0px;
	background-image: url('images/blue-crumps.jpg');
	background-repeat: no-repeat;
}

div.container {
	width: 100%;
	padding: 10px;
}

.img_floatright {
	float: right;
	margin: 0 0 5px 10px;
	border-radius: 50%;
}

article {
	margin-left: 8px;
	margin-top: 10px;
	margin-right: 8px;
	margin-bottom: 10px;
	padding: 1em;
	overflow: hidden;
	background-color: var(--bodyBackColor);
	border-radius: 10px;
}
