@import 'shared.css';

footer {
	padding: 1em;
	color: var(--footerFontColor);
	background-color: var(--headerFooterBackColor);
	text-align: center;
	position: relative;
	margin-bottom: 8px;
	height: var(--headerFooterHeight);
	border-radius: 10px;
}

footerText {
	text-align: left;
	float: left;
}

footerIcons {
	float: right;
	padding: 2px;
}

logo h1 {
	float: left;
	margin: 0px;
	color: var(--footerFontColor);
}

footerIcons img {
	width: 50px;
	height: 45px;
	padding-right: 0.5em;
}
