@import 'shared.css';

footer {
	padding: 1em;
	color: var(--footerFontColor);
	background-color: var(--headerFooterBackColor);
	clear: left;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
	position: relative;
	margin: 8px;
	height: var(--headerFooterHeight);
}

footerText {
	text-align: left;
	float: left;
}

footerIcons {
	float: right;
}

logo h1 {
	float: left;
	margin: 0px;
	color: var(--footerFontColor);
}

.img_floatright {
	float: right;
	margin: 0 0 5px 10px;
	border-radius: 50%;
}

footerIcons img {
	width: 40px;
	height: 40px;
	padding-right: 0.5em;
}
