@import 'shared.css';

.header {
	color: var(--headerFontColor);
	background-color: var(--headerFooterBackColor);
	height: var(--headerFooterHeight);
	padding: 1em;
	font-size: 1.25em;
	border-radius: 10px;
}

.header-name {
	display: inline-block;
	font-size: 1.5em;
	margin-top: 4px;
}

.navbar-right {
    margin-right: -10px;
}

.nav-link {
	color: var(--headerFontColor);
}

.nav-link:hover {
	background-color: #4D5051;
}
