@import 'shared.css';

.header {
	color: var(--headerFontColor);
	background-color: var(--headerFooterBackColor);
	height: var(--headerFooterHeight);
	padding: 1em;
	font-size: 1.25em;
}

/*.header p {
	font-size: 2em;
}*/

.nav-link {
	color: var(--headerFontColor);
}

.nav-link:hover {
	background-color: #4D5051;
}

/*main-nav {
	float: right;
}*/

/*button {
	background-color: #4D5051;
	color: var(--headerFontColor);
	border: 0px;
	padding: 0.75em;
	margin-right: 10px;
	margin-top: 0px;
	border-radius: 30%;
}*/
