@import 'colors.css';

header {
	padding: 1em;
	color: var(--headerFontColor);
	background-color: var(--headerFooterBackColor);
	clear: left;
	text-align: center;
	margin: 8px;
	height: 30px
}

main-nav {
	float: right;
}

button {
	background-color: #4D5051;
	color: var(--headerFontColor);
	border: 0px;
	padding: 0.75em;
	margin-right: 10px;
	margin-top: 0px;
	border-radius: 30%;
}

button:hover {
	background-color: #792aa1;
}
